<!-- Div principale contenant tout le contenu -->
<div class="main-container">
  <h2>Ajouter Départements</h2>

  <!-- Formulaire d'ajout -->
  <div class="form-container">
    <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Nom du Département</mat-label>
        <input matInput formControlName="nom" placeholder="Nom" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" placeholder="Description" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" *ngIf="!selectedDepartment">Ajouter</button>
      <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="selectedDepartment">Modifier</button>
    </form>
  </div>

  <h2>Liste des Départements</h2>

  <!-- Tableau des départements -->
  <div class="table-container">
    <table mat-table [dataSource]="departments" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let department"> {{ department.nom }} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let department"> {{ department.description }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let department">
          <button mat-icon-button color="primary" (click)="editDepartment(department)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteDepartment(department.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'description', 'action']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'description', 'action'];"></tr>
    </table>
  </div>
</div>
