/* Conteneur principal */
.main-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Style pour centrer le contenu des cellules du tableau */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: center;  /* Centrer les éléments */
  border-bottom: 1px solid #ddd;  /* Ajoute une ligne sous chaque cellule */
}

/* Style pour changer la couleur de l'en-tête du tableau */
th {
  background-color: #4CAF50; /* Couleur d'arrière-plan de l'en-tête */
  color: rgb(17, 17, 17); /* Couleur du texte de l'en-tête */
}

/* Ajouter un effet de survol pour les lignes du tableau */
tr:hover {
  background-color: #f5f5f5;
}

/* Contenir le tableau dans une div avec défilement si nécessaire */
.table-container {
  max-width: 90%;  /* Ajuster la taille du tableau */
  margin: 0 auto;  /* Centrer le tableau horizontalement */
  overflow-x: auto;  /* Ajoute du défilement horizontal si nécessaire */
}

.mat-elevation-z8 {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

button {
  cursor: pointer;
}


/* Titres */
h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #3f51b5;
  margin-bottom: 20px;
}

/* Formulaire */
.form-container {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

/* Boutons */
.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  margin-right: 10px;
}

/* Tableau */
.table-container {
  max-width: 90%; /* Limite la taille du tableau à 90% de la largeur du conteneur parent */
  margin: 0 auto;
}



td {
  border-bottom: 1px solid #ddd;
}

.mat-header-cell, .mat-cell {
  padding: 16px;
}

.mat-elevation-z8 {
  border-radius: 8px;
}

.mat-header-row, .mat-row {
  height: 50px;
}

.mat-row:hover {
  background-color: #f1f1f1;
}
