<div id="recu-content" *ngIf="analyse">
    <h2>Reçu de Paiement</h2>
    <p><strong>Numéro de Ticket :</strong> {{ analyse.id }}</p>
    <p><strong>Appareil Utilisé :</strong> {{ analyse.appareilUtilise }}</p>
    <p><strong>Type d'Analyse :</strong> {{ analyse.typeAnalyse.nom }}</p>
    <p><strong>Patient :</strong> {{ analyse.patient.nom }} {{ analyse.patient.prenom }}</p>
    <p><strong>Montant Payé :</strong> {{ analyse.typeAnalyse.prix}} FCFA</p>
    <button (click)="imprimerRecu()">Imprimer le Reçu</button>
  </div>
  <div *ngIf="!analyse">
    <p>Aucun reçu trouvé.</p>
  </div>