<!-- utilisateurs.component.html -->
<div class="button-container">
  <button mat-raised-button color="accent" (click)="openDialog()">Ajouter Utilisateur</button>
  <button mat-raised-button color="accent" (click)="goToRoletype()">Gérer Rôles</button>
</div>

<h2 class="title">Liste des Utilisateurs</h2>
<div class="table-container">
  <table mat-table [dataSource]="utilisateurs" class="mat-elevation-z8">

    <!-- Colonne Nom -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let utilisateur">{{ utilisateur.nom }}</td>
    </ng-container>

    <!-- Colonne Prénom -->
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef>Prénom</th>
      <td mat-cell *matCellDef="let utilisateur">{{ utilisateur.prenom }}</td>
    </ng-container>

    <!-- Colonne Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let utilisateur">{{ utilisateur.email }}</td>
    </ng-container>

    <!-- Colonne Téléphone -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Téléphone</th>
      <td mat-cell *matCellDef="let utilisateur">{{ utilisateur.phone }}</td>
    </ng-container>

    <!-- Colonne Rôle -->
    <ng-container matColumnDef="roleType">
      <th mat-header-cell *matHeaderCellDef>Rôle</th>
      <td mat-cell *matCellDef="let utilisateur">
        {{ utilisateur.roleType ? utilisateur.roleType.nom : 'Non défini' }}
      </td>
    </ng-container>

    <!-- Colonne Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let utilisateur">
        <button mat-icon-button color="primary" (click)="editUtilisateur(utilisateur)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteUtilisateur(utilisateur.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Ligne d'en-tête -->
    <tr mat-header-row *matHeaderRowDef="['nom', 'prenom', 'email', 'phone', 'roleType', 'actions']"></tr>
    
    <!-- Ligne de données -->
    <tr mat-row *matRowDef="let row; columns: ['nom', 'prenom', 'email', 'phone', 'roleType', 'actions']"></tr>
  </table>
</div>