<div class="login-wrapper">
    <div class="login-container">
      <!-- Section gauche de login avec le Logo  -->
      <div class="login-left">
        <img class="logo" src="assets/logo.svg" alt="KENEYASO Logo" />
      </div>
  
      <!--  Section droite avec les information de connexion -->
      <div class="login-right">
        <h2>Bienvenue sur KENEYASO</h2>
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" placeholder="Enter votre email ici..." />
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" class="form-control" placeholder="************" />
          </div>
          <div class="form-group remember-me">
            <input type="checkbox" id="remember" />
            <label for="remember">Se souvenir de Moi</label>
          </div>
          <button type="submit" class="btn-login">Connexion</button>
        </form>
      </div>
    </div>
  </div>
  